 .jumbotron { 
    background-color: blue;
    color: black;
    margin-top: 50px;

 }
  .btn {
  	background-color: grey;
  	color: black;
  	}

  footer { 
    padding: 10px 10px 0px 10px;
    color: black;
    background-color: blue;
    margin-bottom: 0px;
    margin-top: 10px;
    }

 .card-cidnet {
 	flex: 1 150px;
 	padding: 2px 0px 2px 0px;
  margin-top: 10px
 }

 .btn-reserva {
 	width: 100%;
  border-radius: 0px;
 	 }

 .footer-adress-icon {
    padding-right: 10px;
  }